venv/
testing/
allCountries/testing/
allCountries/articleResults/
.Rproj.user
.DS_Store
allCountries/analysis_visualization/.RData
allCountries/analysis_visualization/.Rhistory
allCountries/analysis_visualization/data/
allCountries/analysis_visualization/figs/
__pycache__
*.Rhistory
*.Rproj
